@charset "utf-8";

/* common */
html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Kaku Gothic proN", "メイリオ,", sans-serif; /* ターゲット　mac > windows > その他 */
    color: #555;
    line-height: 1.5; /* 行間 単位はつけないことが一般的 */
}

img {
    width: 100%; /* 画像の横幅を親要素100%に合わせる */
}

.wrapper {
    max-width: 940px; /* 最大幅 コンテンツの横幅*/
    margin: 0 auto; /* 上下の余白0、左右の余白自動 で コンテンツを中央揃え*/
    padding: 0 10px; /* スマートフォンなど画面幅が狭い端末などで表示したときのために、左右の余白を確保する */
}

/* header */
header {
    border-top: 8px solid #8c6239; /* 上枠線 */
}

.header_logo {
    width: 90px;
}

.header_content {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
    justify-content: space-between; /* 左右の端に配置 */
    margin: 10px auto; /*上下の余白10px、左右の余白自動で中央揃え */
}

header nav ul {
    display: flex; /* 横並びにする */
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a {
    text-decoration: none; /* 下線を消す */
    color: #555;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a {
    color: #8c6239;
}

#main_image {
    width: 100%;
    height: 50vh; /* 画面の高さの50% */
    background-image: url(https://placehold.jp/3000x2500.png);
    background-repeat: no-repeat; /* 画像を繰り返さない */
    background-position: center; /* 画像の表示位置を中央に */
    background-size: cover; /* 画像を要素の大きさに合わせる */
}

/* contents */

.contents {
    display: flex;
    justify-content: space-between; /* 左右の端に配置 → メインコンテンツ部分とサイドバー部分が横並びに表示されるようになる*/
    margin-top: 30px
}

#main_content {
    width: 65%; /* メインコンテンツ部分の横幅 */
}

#sidebar {
    width: 31%; /* サイドバー部分の横幅 */
}

#home h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #8c6239;
    font-size: 1.2rem;
}

#info  dl {
    display: flex;
    flex-wrap: wrap; /* 横幅が足りない場合は折り返す */
    margin-bottom: 50px;
}

#info dt {
    width: 7em; /* dtの横幅  ブラウザの設定でフォントサイズを拡大縮小してもレイアウトが崩れないようにするため */
}

#info dd {
    width: calc(100% - 7em); /* ddの横幅  calc()関数で計算 ※お知らせの内容部分は、横幅100％から日付部分(dt)の7emを引いた値*/
}

#info dt, 
#info dd {
    margin-bottom: 10px;
}

#campaign ul li {
    margin-bottom: 10px;
    list-style-type: none; /* リストマーカー(・)を消す */
}

#sidebar ul li {
    margin-bottom: 20px; /* 各リストアイテムの下に20pxの余白 サイドバーの写真の間*/
    list-style-type: none; /* リストマーカー(・)を消す */
} 