@charset "UTF-8";

/* common */
html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif; /* ゴシック系フォント */
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* 中央に配置 */
    padding: 0 16px;
}

a {
    text-decoration: none;
    color: inherit; /* 親要素の文字色を継承 */
    transition: opacity 0.5s; /* 0.5秒かけて変化 見栄えを良くするためのものでなくてもいい*/
}

a:hover {
    opacity: 0.7; /* 透明度を70%にする */
}

ul {
    list-style: none;
}

img {
    max-width: 100%; /* 画像の横幅を親要素に合わせる */
    height: auto; /* 縦横比を維持 */
}

/* header */
header .wrapper {
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 両端揃え 左右に配置 */
    align-items: center; /* 縦方向の中央揃え */
    padding-top: 10px; /* ヘッダーの上部に余白 */
    padding-bottom: 10px; /* ヘッダーの下部に余白 */
}

.logo {
    width: 150px;
}

header form {
    padding: 10px 15px;
    width: 400px;
    border: 1px solid #f1f1f1; /* 薄い灰色の枠線 */
    border-radius: 2em; /* 角を丸くする */
}

nav ul {
    display: flex;
    gap: 7px; /* 要素間の隙間 */
}

nav li a {
    display: flex;
    flex-direction: column; /* 縦並び アイコンの下に文字*/
    font-size: 11px;
    text-align: center; /* 文字を中央揃え */
}

nav li a i {
    font-size: 20px; /* アイコンを大きく */
}

/* main visual */
.mv img{
    min-height: 250px; /* 画像が小さい場合の最小高さ */
    object-fit: cover; /* 画像が要素いっぱいに表示されるようにする　*/
    /* 横幅についてはimgに対して横幅いっぱいに指定しているのでここでは必要ない */
}

/* goods */
.goods {
    padding-top: 50px; /* 余白の調整 */
}
.goods ul {
    margin-top: 10px;
    display: grid; /* グリッドレイアウト */
    grid-template-columns: repeat(3, 1fr); /* 3列　各列の幅は均等 1:1:1 */
    gap: 20px; /* 要素間の隙間 */
}

.goods ul li h3 {
    margin-top: 5px;
    font-size: 0.9rem; /* 文字サイズを少し小さく */
}

.btn {
    display: block; /* ブロック要素にする */
    margin: 50px auto; /* 上下に50pxの余白、左右中央寄せ */
    width: 100%;
    max-width: 300px; /* 最大横幅300px */
    background-color: #000; /* 黒背景 */
    line-height: 50px; /* ボタンの高さ */
    color: #fff; /* 白文字 */
    text-align: center; /* 文字を中央揃え */
}

/* footer */
footer {
    background-color: #000; /* 黒背景 */
    color: #fff; /* 白文字 */
    padding: 30px 0; /* 上下に30pxの余白 */
    text-align: center; /* 文字を中央揃え */
}

.sns {
    display: flex;
    justify-content: center; /* 中央揃え */
    gap: 20px;
}

footer small {
    display: block; /* ブロック要素にする */
    margin-top: 20px; /* 上部に余白 */
}

/* small screen */
@media(max-width: 750px) {
    header form {
        display: none; /* 検索フォームを非表示 */
    }

    .goods ul {
        grid-template-columns: 1fr 1fr; /* 2列 */
    }
}

/* 絶対的な一つの正解はない

出来上がったものが要件を満たしていれば問題ない

実務においても、作業者によって方法や考え方が違うことがあるのが普通

特に、明示的に仕様に指定が書かれていない場合は、作業者の裁量に任されることが多く差がでやすい  */